<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div id="everything">
  <h1>{{title}}</h1>
  <i class="material-icons" id="person">person</i>User
  <ul>
    <li><a routerLink="/dashboard">Lemmikud</a></li>
    <li><a routerLink="/trainings">Pakkumised</a></li>
    <li><a routerLink="/bookings">Tellimused</a></li>
    <li><a routerLink="/bookings">Arved</a></li>
    <li><a routerLink="/bookings">Logi välja</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>

<i class="material-icons" id="search">search</i>

<div class="big-search-box">
<form action="/">
  <input type="text" id="username" name="username" placeholder="Otsi teenuseid...">
</form>
</div>

<div class="create-button">
  <input type="submit" value="Loo">
</div>

<i class="material-icons" id="notifications">notifications</i>
<i class="material-icons" id="shopping_basket">shopping_basket</i>

<h2>Leia endale sobiv lahendus</h2>
<nav>
  <a>Kõik </a>
  <a>Arendus </a>
  <a>Raamistikud </a>
  <a>Andmebaasid </a>
</nav>

<p>Personali valikud</p>

<div class="grid-container">
  <div class="grid-item">Teenus 1 <input type="submit" value="Installi"></div>
  <div class="grid-item">Teenus 2 <input type="submit" value="Installi"></div>
  <div class="grid-item">Teenus 3 <input type="submit" value="Installi"></div>
  <div class="grid-item">Teenus 4 <input type="submit" value="Installi"></div>
  <div class="grid-item">Teenus 5 <input type="submit" value="Instali"></div>
  <div class="grid-item">Teenus 6 <input type="submit" value="Installi"></div>
  <div class="grid-item">Teenus 7 <input type="submit" value="Installi"></div>
  <div class="grid-item">Teenus 8 <input type="submit" value="Installi"></div>
  <div class="grid-item">Teenus 9 <input type="submit" value="Installi"></div>
</div>

